body {
  margin: 0;
  padding: 0;
}

.filters {
  margin: 10px;
  display: block;
}

select {
  display: block;
  width: 100%;
  padding: 6px;
  color: black;
  outline: none;
}

.container-fluid {
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  background-image: url('../static/index_images/nfl_background.jpg');
}

.btn-default:hover {
  border-color:black;
}

.jumbotron {
  margin: 5px;
  padding: 5px;
}

.title_heading { 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px;
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

#demo {
  width: 100%;
}

.col-md-3{
  display: inline-block;
  margin-left:-4px;
}

.col-md-3 img{
  width:100%;
  height:auto;
}

body .carousel-indicators li{
  background-color:black;
}

body .carousel-indicators{
  bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  margin: 0px;
  background-color:black;
}

body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

/* .nfl-logo {
  position: absolute;
  height: auto;
  width: 4%;
  bottom: 6px;
  left: 120px;
  color: white;
} */