/* body {
  margin: 0px;
  padding: 0px;
} */

body {
    background-image: url('../index_images/movies.jpg');
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 0;
    padding-bottom: 56.58%;
}

.navbar {
    color: white;
  }
  
  #tablinks:hover {
    background-color: red;
  }
  
  .filters {
    margin: 10px;
    display: block;
    opacity: 0.80;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 6px;
    color: black;
    outline: none;
  }
  
  /* .container-fluid {
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    background-image: url('../index_images/movies.jpg');
    padding: 0px;
  } */
  
  .btn-default:hover {
    border-color:black;
  }
  
  .jumbotron {
    margin: 10px;
    padding: 5px;
    background-color:white;
    opacity: 0.80;
    font-size: 25px;
  }
  
  .title_heading { 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
  }
  
  #movie_data_body {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 1;
  }
  
  h1.nothing_found {
    margin: auto;
    padding: auto;
    font-weight: bold;
    color: black;
  }
  
  div.movie_recommend_header {
    margin-left: 5%;
    padding: auto;
    color: white;
  }
  
  h1.movie_recommend_title {
    text-align: left;
  }
  
  .rating, .duration, .gross_earning, .genre, .total_votes {
    font-weight: bold;
  }
  
  p {
    font-weight: normal;
    display: inline-block; 
  }
  
  .img-zoom-hover img {
    transition: transform .4s ease;
  }
  
  .img-zoom-hover:hover img {
    transform: scale(1.2);
  }
  
  #demo {
    width: 100%;
  }
  
  .col-md-2 {
    display: inline-block;
    /* margin-left:-4px; */
  }
  
  .col-md-2 img {
    width:100%;
    height:auto;
  }
  
  body .carousel-indicators li{
    background-color:black;
  }
  
  body .carousel-indicators{
    bottom: 0;
  }
  
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    margin: 0px;
    background-color:black;
  }
  
  body .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }